{
  "presets": [
     [
       "@babel/preset-env", 
       {
         "targets": "ie>=10",
         "useBuiltIns": "entry",
         "corejs": "3.0"
       }
     ],
     [
      "@babel/preset-react"
     ]
     
  ]
  
}
